@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins&family=Roboto:ital@1&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&family=Poppins&family=Roboto:ital@0;1&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
 */


img {
    width: 50px;
    height: 50px;
}

* {
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    margin-left: 20px;
}

.Shades{
   display: inline-block;
    margin: 0%;
    vertical-align: middle;
    font-size: 40px;

    position: relative;
    top: -15px;
    margin-right: 20px;
}

a{
    color: black;
    text-decoration: none;
}

.Free{
    display: inline-block;
    position: relative;
    top: -15px;
    margin-right: 20px;
    font-size: 20px;
}
.Features{
    display: inline-block;
    position: relative;
    top: -15px;
    margin-right: 20px;
    font-size: 20px;
}
.Services{
    display: inline-block;
    position: relative;
    top: -15px;
    margin-right: 20px;
    font-size: 20px;
}
.Pricing{
    display: inline-block;
    position: relative;
    top: -15px;
    margin-right: 20px;
    font-size: 20px;
}
.Contact{
    display: inline-block;
    position: relative;
    top: -15px;
    margin-right: 20px;
    font-size: 20px;
}
.started{
    display: inline-block;
    position: relative;
    top: -15px;
    margin-left: 180px;
    text-decoration: none;
    background-color: transparent;
    
    

}

.Present{
    font-size: 15px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 3px;
    opacity: 90%;
}

.Make{
    font-size: 50px;
    max-width: 500px;
    text-align:center;
    margin: 0 auto;
}

.Create{
    font-size: 15px;
    opacity: 90%;
    text-align: center;
    margin: 0 auto;
    max-width: 370px;
}

.Input1{
    height: 45px;
    width: 200px;
    position: relative;
    left: 400px;
    font-family:'Roboto', sans-serif ;
    border: 0 solid white;

}

.Subscribe{
    height: 45px;
    width: 150px;
    margin: 0;
    margin-top: 40px;
    position: relative;
    left: 400px;
    background-color: orangered;
    border-color: orangered;
    color: white;
    font-size: 15px

}

.belowInput{
    text-align: center;
}

.easyToUse{
    display: inline-block;
    
    position: relative;
    top: -25px;
}

.EditingAndCustomizing{
    position: relative;
    left: 74px;
    top: -45px;
    max-width: 250px;
}

.layers{
    width: 85px;
    height: 85px;
    display: inline-block;
    position: relative;
    left: 350px;
    top: -160px;
}

.Responsive{
    position: relative;
    left: 450px;
    top: -245px;
}

.EditingAndCustomizing2{
    position: relative;
    left: 450px;
    top: -250px;
    max-width: 250px;
}

.phone{
    width: 70px;
    height: 70px;
    display: inline-block;
    position: relative;
    left: 750px;
    top: -352px;
}

.newPages{
    position: relative;
    left: 825px;
    top: -435px;
}

.EditingAndCustomizing3{
    position: relative;
    left: 825px;
    top: -435px;
    max-width: 250px;
}

.started1{
    width: 120px;
    height: 35px;
    background-color: transparent;
    text-decoration: none;
    border-color:rgb(40, 124, 233);
    border-style: solid;
    color: rgb(40, 124, 233);
    font-family: 'Roboto';
    font-size: 15px;
    letter-spacing: 0.5px;
    
    
    
}

html{
  background-color: lavender;
  height: 100%
  min-height: 100% 
}
